<%= render 'users/u_card' %>

<div class="d-flex justify-content-center">
  <div>
    <div class="mb-4 d-flex justify-content-end">
      <button><%= link_to "Add new post", new_user_post_path, class:"nav-link btn border border-info border-2 text-info" %></button>
    </div>
    <%= render 'posts/post' %>
  </div>
</div>